//
// Global
//

html {
    height: 100%;
}

body {
    height: 100%;
    position: relative;

    // Overlay for the body element
    //
    // This overlay will add a colored transparent overlay
    // to the background video

    &:before {
        background-color: $primary;
        content: '';
        height: 100%;
        left: 0;
        opacity: 0.7;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
    }
}

// Styling for the background video element

video.bg-video {
    height: auto;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: auto;
    z-index: 0;
}

// Mobile fallback for touch screen devices which typically
// do not load HTML video

@media (pointer: coarse) and (hover: none) {
    body {
        background: $primary no-repeat center center scroll;
    }

    body video {
        display: none;
    }
}
